@using Mstech.ADV.Keys;
@model ConstantFilterViewModel

@{
    Layout = "_LayoutAdmin";
    var pageName = Model.EntityName == ConstantEntityNames.__Tag ? "تگ"
    : Model.EntityName == ConstantEntityNames.__Source ? "منبع"
    : Model.EntityName == ConstantEntityNames.__UserPosition ? "سمت"
    : Model.EntityName == ConstantEntityNames.__Department ? "دپارتمان"
    : "";

    ViewData["Title"] = $"مدیریت {pageName} ها";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1">
                    @ViewData["Title"]
                </h5>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/admin/Home/index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @pageName ها
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="Constant-list-wrapper">
        <div class="Constants-list-filter px-1">
            <div id="Constant_Index" class="row border rounded py-2 mb-2">

                <div class="col-12 col-sm-6 col-lg-4">
                    <label asp-for="Name"></label>
                    <fieldset class="form-group">
                        <input asp-for="Name" class="form-control" />
                    </fieldset>
                </div>

                <input asp-for="EntityName" type="hidden" />

                <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-center ml-auto">
                    <button id="btnSearch" type="button" class="btn btn-primary glow mb-0 mt-75 ml-auto">
                        <i class="bx bx-filter"></i> فیلتر
                    </button>
                    <button id="resetFilters" type="reset" class="btn btn-light glow Constants-list-clear mb-0 mt-75"
                            style="margin-right: 7px">
                        <i class='bx bxs-eraser'></i> پاکسازی
                    </button>
                </div>
            </div>
        </div>
        <div class="Constants-list-table">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive table-padding">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-success glow mb-0 mb-75" id="btn_Manage">
                                    <i class="fa fa-filter"></i> <i class='bx bx-plus'></i> @pageName جدید
                                </button>
                            </div>
                            <div class="table-responsive">
                                @{
                                    await Html.RenderPartialAsync("_DataTable").ConfigureAwait(false);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@{
    await Html.RenderPartialAsync("_Manage", new ManageConstantViewModel() { EntityName = Model.EntityName }).ConfigureAwait(false);
}



<script type="text/javascript">

    $(document).ready(function () {

        $('#Constant_Table tbody').on('click', "a[id^='btnEdit']", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $(".loader-box").css("display", "block");
            $.ajax({
                url: '@Url.Action("GetConstant", "Constant", new { Area = "Admin" })',
                type: "GET",
                async: false,
                dataType: "json",
                data: { "id": id },
                success: function (response) {
                    $(".loader-box").css("display", "none");
                    resetManageForm();
                    resetManageValidation();
                    $('#ManageConstantForm input[name=Id]').val(response.data.id);
                    $('#ManageConstantForm input[name=Name]').val(response.data.name);
                    $('#ManageConstantForm input[name=Importance]').val(response.data.importance);

                    $('#modalManageConstant').modal('toggle');
                },
                error: function (xhr, status, error) {
                    $(".loader-box").css("display", "none");
                    var message = 'عملیات با خطا مواجه شد.';
                    if (xhr.status == 403) {
                        message = 'دسترسی این عملیات را ندارید.';
                    }
                    toastr.error(`${message}`, 'اخطار!', {
                        rtl: true,
                        positionClass: 'toast-bottom-right',
                        containerId: 'toast-bottom-right'
                    });
                }
            });
        });

        $('#Constant_Table tbody').on('click', "a[id^='btnDelete']", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            Swal.fire({
                title: '<h4>توجه!</h4>',
                icon: 'info',
                html: `<span>آیا از حذف اطمینان دارید؟</span>`,
                showCancelButton: true,
                cancelButtonText: 'انصراف',
                cancelButtonColor: '#6e7881',
                confirmButtonText: 'حذف رکورد!',
            }).then(function (result) {
                if (result.value) {
                    $(".loader-box").css("display", "block");
                    $.ajax({
                        url: '@Url.Action("Delete", "Constant", new { Area = "Admin" })',
                        type: "Post",
                        async: false,
                        dataType: "json",
                        data: { "id": id },
                        success: function (response) {
                            $(".loader-box").css("display", "none");
                            toastr.success('حذف رکورد با موفقیت انجام شد.', 'عملیات موفق', {
                                rtl: true,
                                positionClass: 'toast-bottom-right',
                                containerId: 'toast-bottom-right'
                            });
                            reloadConstantDataTable();
                        },
                        error: function (xhr, status, error) {
                            $(".loader-box").css("display", "none");
                            var message = 'حذف رکورد با خطا مواجه شد.';
                            if (xhr.status == 403) {
                                message = 'دسترسی این عملیات را ندارید.';
                            }
                            toastr.error(`${message}`, 'اخطار!', {
                                rtl: true,
                                positionClass: 'toast-bottom-right',
                                containerId: 'toast-bottom-right'
                            });
                        }
                    }); return true;
                }
                else {
                    return false;
                }
            });
        });

    });

    $(window).keydown(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $('#btnSearch').click();
        }
    });

    $('#btnSearch').click(function (e) {
        e.preventDefault();
        reloadConstantDataTable();
    });

    $('#resetFilters').click(function (e) {
        e.preventDefault();
        resetFilterConstantDataTable();
        reloadConstantDataTable();
    });

    $('#btn_Manage').click(function (e) {
        e.preventDefault();
        resetManageValidation();
        resetManageForm();
        $('#modalManageConstant').modal('toggle');
    });

</script>
