<div class="row">
    <div class="col-md-12 col-sm-6">
        This component is defined in the <strong>Mstech.Wallet.WalletInfo</strong> library.
    </div>
    <div class="col-md-12 col-sm-6">
        This component is defined in the <strong>Mstech.Wallet.WalletInfo</strong> library.
    </div>
</div>
