@model ChangePasswordUserViewModel

<!-- ChangePassword User Modal -->
<div class="modal fade" id="modalChangePasswordUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <form class="form"
              enctype="multipart/form-data"
              method="post"
              id="ChangePasswordUserForm"
              asp-area="Admin"
              asp-controller="User"
              asp-action="ChangePassword"
              data-ajax="true">

            <input type="hidden" asp-for="Id" />

            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title white" id="exampleModalCenterTitle">تغییر رمز عبور کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="OldPassword"></label>
                                    <input asp-for="OldPassword" class="form-control" placeholder="رمز عبور قبلی">
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" placeholder="رمز عبور جدید">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">انصراف</span>
                    </button>
                    <button type="submit" class="btn btn-success ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">ثبت</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    $('#ChangePasswordUserForm').submit(function (e) {

        e.preventDefault();

        var action = $(this).attr('action');
        var formData = new FormData($(this).get(0));

        $.ajax({
            type: "POST",
            dataType: "json",
            url: action,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, status, settings) {

                $('#modalChangePasswordUser .text-danger').text('');

                if (data.success)
                {
                    toastr.success('تغییر رمز عبور کاربر با موفقیت انجام شد.', 'عملیات موفق', {
                        rtl: true,
                        positionClass: 'toast-bottom-right',
                        containerId: 'toast-bottom-right'
                    }); 
                    reloadUserDataTable();
                    resetChangePasswordForm();
                    $('#modalChangePasswordUser').modal('toggle');                    
                }
                else
                {
                    if (data.isValid)
                    {
                        toastr.error(data.message, 'اخطار!', {
                            rtl: true,
                            positionClass: 'toast-bottom-right',
                            containerId: 'toast-bottom-right'
                        });
                    }
                    else
                    {
                        displayValidationErrors(data.errors);
                    }
                }
            },
            error: function (request, options, err) {
                $(".loader-box").css("display", "none");
                var message = 'تغییر کلمه عبور کاربر با خطا مواجه شد.';
                if (xhr.status == 403) {
                    message = 'دسترسی این عملیات را ندارید.';
                }
                toastr.error(`${message}`, 'اخطار!', {
                    rtl: true,
                    positionClass: 'toast-bottom-right',
                    containerId: 'toast-bottom-right'
                });
            }
        });
        return true;
    });

    function displayValidationErrors(errors) {
        $('#modalChangePasswordUser .text-danger').text('');

        for (var i = 0; i < errors.length; i++) {
            var error = errors[i];
            var fieldName = error.property; 
            var errorMessage = error.errors; 

            var fieldErrorElement = $('#modalChangePasswordUser [data-valmsg-for="' + fieldName + '"]');
            fieldErrorElement.text(errorMessage);

            fieldErrorElement.addClass('inputs-error');
        }
    }

    function resetChangePasswordForm()
    {
        $('#ChangePasswordUserForm input[name=Password]').val('');
        $('#ChangePasswordUserForm input[name=OldPassword]').val('');
    }

</script>

