
﻿@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.Extensions.Logging
@inject LazyAssemblyLoader AssemblyLoader
@inject ILogger<App> Logger
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync" AdditionalAssemblies="lazyLoadedAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="GetLayout(routeData.PageType)" />

        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert"> @Navigation.Uri</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    private List<System.Reflection.Assembly> lazyLoadedAssemblies = new List<System.Reflection.Assembly>();

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            if (!string.IsNullOrEmpty(args.Path))
            {
                var assemblies = await AssemblyLoader.LoadAssembliesAsync(new[] {
                    "Mstech.Wallet.WalletInfo.wasm",
                    "Mstech.FrontEnd.Membership.wasm",
                    "Mstech.FrontEnd.Transaction.wasm",
                    "Mstech.FrontEnd.Management.wasm",
                    "Mstech.FrontEnd.Institution.wasm"
                });
                lazyLoadedAssemblies.AddRange(assemblies);

            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Navigation error");
            throw;
        }
    }
    private Type GetLayout(Type pageType)
    {
        // Get the full current URI
        var currentUri = Navigation.Uri.ToLower();

        // Dynamically check if the URL contains the login path
        if (currentUri.Contains(Navigation.BaseUri.ToLower() + "membership/login"))
        {
            return typeof(LoginLayout);
        }

        // Default to MainLayout for other pages
        return typeof(MainLayout);
    }

}