/* login / register */
.alert-success-register {
    position: absolute;
    z-index: 9;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: auto;
    width: 80%;
}

.alert-success-register a {
    color: #fff;
}

.dnt_Captcha .text-danger {
    position: relative;
}

.input-validation-error+span.text-danger,
.input-validation-error+input+span.text-danger,
.dnt_Captcha .text-danger span,
.has-error label.danger {
    position: relative;
    font-size: 12px;
    background-color: #FF5B5C;
    color: #fff !important;
    padding: 2px 8px;
    border-radius: .267rem;
    transform: translateY(2px);
    display: inline-block;
}

.dnt_Captcha .text-danger span {
    transform: translateY(4px);
}

.input-validation-error+span.text-danger:before,
.input-validation-error+input+span.text-danger:before,
.dnt_Captcha .text-danger span:before,
.has-error label.danger:before {
    content: "";
    border-color: transparent transparent #FF5B5C transparent;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
}

.has-error label.danger {
    margin-top: 2px;
}

.has-error-absolut label.danger {
    position: absolute;
    bottom: 16px;
    right: 15px;
}

.dnt_Captcha {
    display: flex;
    width: 100%;
    position: relative;
}

.dnt_Captcha #dnt_CaptchaImg {
    order: 2;
    height: 39px;
}

.dnt_Captcha #dnt_CaptchaRefreshButton {
    order: 3;
    border: 1px solid #DFE3E7;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(223, 227, 231);
    line-height: 0;
    padding: .6rem 0.8rem;
    height: 39px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dnt_Captcha .input-group {
    order: 1;
}

.dnt_Captcha .input-group span {
    display: none;
}

.dnt_Captcha .input-group .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .267rem !important;
    border-bottom-right-radius: .267rem !important;
    text-align: right;
}

.dnt_Captcha .text-danger {
    position: absolute;
    bottom: -16px;
    font-size: 11px;
}

/* panel */
i.menu-livicon,
i.livicon-evo {
    display: none;
}

.switch-themes {
    margin-top: 6px;
}

.input-validation-error {
    border: 1px solid #FF5B5C;
}

.inputs-error {
    position: relative;
    font-size: 12px;
    background-color: #FF5B5C;
    color: #fff !important;
    padding: 2px 8px;
    border-radius: .267rem;
    transform: translateY(2px);
    display: inline-block;
}

.inputs-error:before {
    content: "";
    border-color: transparent transparent #FF5B5C transparent;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
}

.col-operation a {
    margin-left: 4px;
}

table.table tbody tr {
    border-bottom: 1px solid #DFE3E7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.swal2-icon-success .swal2-actions .swal2-confirm {
    border-color: #23BD70 !important;
    background-color: #39DA8A !important;
    color: #FFFFFF;
    transition: all .3s;
}

.swal2-icon-success .swal2-actions .swal2-confirm:hover {
    background-color: #4EDE97 !important;
    color: #FFFFFF;
}

.swal2-close:focus {
    box-shadow: none !important;
}

.swal2-icon-error .swal2-actions .swal2-confirm {
    border-color: #FF2829 !important;
    background-color: #FF5B5C !important;
    color: #FFFFFF;
    transition: all .3s;
}

.swal2-icon-error .swal2-actions .swal2-confirm:hover {
    background-color: #FF7575 !important;
    color: #FFFFFF;
}

.swal2-icon-info .swal2-actions .swal2-confirm {
    border-color: #009FAA !important;
    background-color: #00CFDD !important;
    color: #FFFFFF;
    transition: all .3s;
}

.swal2-icon-info .swal2-actions .swal2-confirm:hover {
    background-color: #00E7F7 !important;
    color: #FFFFFF;
}

table.table-bordered.dataTable td {
    border-left-width: 1px !important;
}

.main-menu.menu-dark .navigation>li>a {
    transition: .2s;
}

.main-menu.menu-dark .navigation>li>a:hover {
    background: rgba(90, 141, 238, 0.08);
}

.bootstrap-select button.btn-light {
    background-color: #fff !important;
    border: 1px solid #DFE3E7 !important;
    color: #324356 !important;
}

.btn-light~.dropdown-menu .dropdown-item.active {
    color: #324356 !important;
}

.bootstrap-select button.btn-light .filter-option {
    text-align: right;
}

.btn-light~.dropdown-menu .dropdown-item.active {
    background-color: #D0E6FF !important;
}

.modal-body,
.modal-content {
    overflow: unset !important;
}

.modal-header {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.form-800 {
    width: 800px;
}

@media (min-width: 576px) {
    .offset-sm-6 {
        margin-right: auto;
        margin-left: 50%;
    }
}

@media (max-width: 992px) {
    .form-800 {
        width: auto;
    }
}

.loader-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 9999;
}

.loader-box .loader-caption {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-table;
    top: 50%;
    -webkit-transform: translateY(180%);
    -ms-transform: translateY(180%);
    transform: translateY(180%);
    color: #fff;
}

.loader {
    color: #4983EF !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 11px;
    background: #4983EF;
    animation: escaleY 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    border-radius: 24px;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2em;
    background: #719DF0;
    color: #719DF0;
    width: 1em;
    border-radius: 24px;
    height: 4em;
    animation: escaleY 1s infinite ease-in-out;
}

.loader:before {
    left: -2em;
    animation-delay: -0.32s;
}

@keyframes escaleY {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.d-grid {
    display: grid;
}

.header-border-bottom {
    border-bottom: 1px solid #DFE3E7 !important;
}

.card-border {
    border: 1px solid #DFE3E7 !important;
}

.timeline-limit-height {
    max-height: 300px;
    overflow: auto;
    padding-left: 10px;
}

.card-body-border-top {
    border-top: 1px solid #DFE3E7 !important;
}

.job-wizard-images img {
    width: 42px;
}

.wizard-job .steps ul li.disabled a span.job-wizard-images img {
    filter: invert(65%) sepia(15%) saturate(289%) hue-rotate(171deg) brightness(82%) contrast(90%);
    -webkit-filter: invert(65%) sepia(15%) saturate(289%) hue-rotate(171deg) brightness(82%) contrast(90%);
    opacity: .6;
}

.list-group-competencies .list-group-item.list-group-item-action {
    cursor: pointer;
}

.list-group-competencies .list-group-item.list-group-item-action.active {
    color: #fff !important;
}

.competencies-add-box {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    color: #596F88;
}

.list-group-competencies .list-group-item:first-child,
.list-of-competencies .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.list-of-competencies .list-group-item {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.list-of-competencies .list-group-item i {
    margin-right: auto;
}

.custom-control-matter {
    display: flex;
    align-items: center;
}

.custom-control-matter label {
    white-space: nowrap;
    margin-left: 8px;
    margin-bottom: 0;
}

.competency-related-job {
    border-bottom: 1px solid #DFE3E7;
}

.competency-related-job h4 {
    font-size: inherit !important;
}

.list-group-req-form {
    display: flex;
    align-items: center;
}

.list-group-req-form div.req-form-options {
    margin-right: auto;
}

.list-group-req-drag .list-group-item .handle {
    padding: 0 5px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: move;
    font-size: 1.2rem;
    vertical-align: middle;
}

.req-title {
    position: relative;
}

.req-title:before {
    content: "*";
    position: absolute;
    left: -13px;
    color: #950001;
    top: -4px;
    font-size: 15px;
}

.timeline-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 40px;
    padding-top: 10px;
}

.timeline-container ul {
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.timeline-li {
    width: 170px;
    text-align: center;
    background-color: #E2ECFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
    border-radius: .267rem !important;
    padding: 6px 0;
    position: relative;
    margin: 0 12px;
    cursor: default;
    transition: all .3s;
}

.timeline-li:hover {
    transform: translateY(-10px);
    background-color: #5A8DEE
}

.timeline-li:hover .timeline-dot {
    transform: translateY(10px);
}

.timeline-li h4,
.timeline-li h6 {
    color: #5A8DEE;
    transition: all .3s;
}

.timeline-li:hover h4,
.timeline-li:hover h6 {
    color: #fff;
}

.timeline-li hr {
    border-color: #cecece;
    margin: 5px;
}

.timeline-li:before {
    content: "";
    height: 0;
    width: 6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e2ecff;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
}

.timeline-li:hover:before {
    border-top: 8px solid #5A8DEE;
}

.timeline-dot {
    height: 0.7rem;
    background-color: gray;
    position: absolute;
    bottom: -28px;
    width: 130%;
    background-color: beige;
    background-clip: content-box;
    border-width: 0.2rem 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all .3s;
}

.timeline-dot:before {
    content: "";
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
    -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
    -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
    -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
    border-width: 0.16rem;
    border-style: solid;
    border-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    background-clip: content-box;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 23%;
    right: 0;
    margin: auto;
    bottom: -5px;
    background-color: thistle;
    transition: all .3s;
}

.timeline-li:hover .timeline-dot:before {
    transform: scale(1.5);
    background-color: #5A8DEE;
}

.notes-switch {
    width: 72px !important;
    height: 27px !important;
}

.notes-switch::before {
    width: 72px !important;
    height: 27px !important;
}

.notes-switch::after {
    width: 25px !important;
    height: 25px !important;
}

.custom-switch .custom-control-input:checked~.notes-switch::after {
    -webkit-transform: translateX(-3.01rem) !important;
    -ms-transform: translateX(-3.01rem) !important;
    transform: translateX(-3.01rem) !important;
}

.custom-switch .notes-switch .switch-icon-left {
    right: 9px !important;
}

.mb-05 {
    margin-bottom: .5rem !important;
}
.mt-05 {
    margin-top: .5rem !important;
}
.max-height-75 {
    max-height: 75vh;
    overflow: auto !important;
}
#ul_UserList li.li_UserList {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 6px 6px;
    margin: 5px 0 !important;
}