@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../Fonts/iransans/iranSans/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('/Fonts/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('/Fonts/iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('/Fonts/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype')
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('/Fonts/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('/Fonts/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('/Fonts/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('/Fonts/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('/Fonts/iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('/Fonts/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), url('/Fonts/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('/Fonts/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('/Fonts/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum).eot');
    src: url('/Fonts/iransans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('/Fonts/iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('/Fonts/iransans/woff/IRANSansWeb(FaNum).woff') format('woff'), url('/Fonts/iransans/ttf/IRANSansWeb(FaNum).ttf') format('truetype')
}



@font-face {
    font-family: byekan;
    font-style: normal;
    font-weight: bold;
    src: url('../Fonts/BYekan/BYekan.ttf');
}


@font-face {
    font-family: byekan;
    font-style: normal;
    font-weight: bold;
    src: url('../Fonts/BYekan/BYekanBold.ttf');
}


@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../Fonts/iranyekan/IRYekan.ttf');
}


@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../Fonts/iranyekan/IRYekanBold.ttf');
}
