.img-preview-16-9 {
    width: 176px;
    height: 99px;
    min-width: 176px;
    min-height: 99px;
    max-width: 176px;
    max-height: 99px;
}

.img-preview-18-6 {
    width: 144px;
    height: 48px;
    min-width: 144px;
    min-height: 48px;
    max-width: 144px;
    max-height: 48px;
}


.img-preview-1-1 {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}
