@page "/Membership/Component1"
<div class="my-component">
    This component is defined in the <strong>Msterch.FrontEnd.Membership</strong> library.
</div>
@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
