@page "/Membership/RegisterConfirmation"

@using Mstech.Frontend.Wallet.Service.Interface.Membership
@using Mstech.Frontend.Wallet.ViewModel.DTO
@inject IUserService userService
@inject SweetAlertService SweetAlert
@inject NavigationManager NavigationManager



<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-right" style="width: 50rem;">
        <div class="card-header header-color bg-primary text-white text-left">
            ورود به حساب کاربری
        </div>
        <div class="card-body">
            <EditForm Model="confirmEmailNumberViewModel">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <InputText hidden type="text" @bind-Value="confirmEmailNumberViewModel.Token" />
                <InputText hidden type="text" @bind-Value="confirmEmailNumberViewModel.UserId" />


            </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private ConfirmEmailNumberViewModel confirmEmailNumberViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        confirmEmailNumberViewModel = new ConfirmEmailNumberViewModel();
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        // Assign the query parameters to your view model
        confirmEmailNumberViewModel.Token = query["token"];
        confirmEmailNumberViewModel.UserId = query["userId"];
        var result = await userService.ConfirmRegistration(confirmEmailNumberViewModel);
        if (!result.IsSuccess)
        {

            if ((result.ErrorCode != null && result.ErrorCode == "Unauthorized") || (result.ErrorCode != null && result.ErrorCode == "Forbidden"))
            {
                var currentPath = new Uri(NavigationManager.Uri).AbsolutePath;

                if (currentPath.ToLower() != "/Membership/Login".ToLower() && currentPath.ToLower() != "/Membership/Register".ToLower())
                {
                    NavigationManager.NavigateTo("/membership/Login");
                }

            }
            else
            {
                await SweetAlert.ShowAlert("خطا !", result.Message, "error");
            }

        }
        else
        {

            await SweetAlert.ShowAlert("موفق !", result.Message, "success");
            NavigationManager.NavigateTo("/membership/Login");

        }
        base.OnInitialized();
    }
    private async Task ConfirmRegistrationHandler()
    {

    }


}
